# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
dist/
build/
.venv/
venv/
.env
.ipynb_checkpoints/

# Editors / OS
.idea/
.vscode/
.DS_Store

# Pytest / cache
.pytest_cache/
.cache/

# Project runs / outputs
runs/
runs_test/
wandb/
lightning_logs/
logs/
cifar-10-batches-py/
*.tar.gz

# Data / stats (optional fine-tuning)
data/

